<a href="https://colab.research.google.com/github/LoreviceP/teste/blob/main/Case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install aspose-cells

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting aspose-cells
  Downloading aspose-cells-23.4.0.tar.gz (12.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 15.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting JPype1>=1.2.1
  Downloading JPype1-1.4.1-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 465.3/465.3 kB 16.9 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from JPype1>=1.2.1->aspose-cells) (23.1)
Building wheels for collected packages: aspose-cells
  Building wheel for aspose-cells (setup.py) ... done
  Created wheel for aspose-cells: filename=aspose_cells-23.4.0-py3-none-any.whl size=12329856 sha256=18ab6c9b306bab112fcc5119e24351caef9d2fabed598fa8505c76c5758f26f8
  Stored in directory: /root/.cache/pip/wheels/22/04/b1/1068cb21da1e5e3f8a5ee0645b0ec3bd026b99a432f31013e4
Successfully built aspose-cells
Installing collected packages: JPype1, aspose-cells
Successfully installed JPype1-1.4.1 aspose-cells-23.4.0

In [2]:
from urllib import request
import jpype     
import asposecells  
import numpy as np
import pandas as pd
from openpyxl import load_workbook
from openpyxl.pivot.fields import Missing
from openpyxl import workbook, load_workbook
from datetime import datetime

In [3]:
# File request
file_url = 'http://raw.githubusercontent.com/raizen-analytics/data-engineering-test/master/assets/vendas-combustiveis-m3.xls'
filename = 'vendas_combustiveis_m3.xls'

request.urlretrieve(file_url , filename )

('vendas_combustiveis_m3.xls', <http.client.HTTPMessage at 0x7f2b57487940>)

In [4]:
# Convert xls to xlsx file and save in a raw_layer
raw_layer = 'raw'
raw_file = f'{raw_layer}_{filename[:-4]}.xlsx'

jpype.startJVM() 
from asposecells.api import Workbook
workbook = Workbook(f'/content/{filename}')
workbook.save(f'/content/{raw_file}')
jpype.shutdownJVM()

In [5]:
# Extract pivot table 'Sales of oil derivative fuels by UF and product'
raw_file_path = f'/content/{raw_file}'

workbook = load_workbook(raw_file_path)
worksheet = workbook['Plan1']
pivot_table_name = 'Tabela dinâmica1'

pivot_table = [p for p in worksheet._pivots if p.name == pivot_table_name][0]

# Extract a dict of all cache fields and their respective values
fields_map = {}
for field in pivot_table.cache.cacheFields:
    if field.sharedItems.count > 0:
        fields_map[field.name] = [f.v for f in field.sharedItems._fields]

# Extract all rows from cache records. Each row is initially parsed as a dict
column_names = [field.name for field in pivot_table.cache.cacheFields]
rows = []
for record in pivot_table.cache.records.r:
    # If some field in the record in missing, we replace it by NaN
    record_values = [
        field.v if not isinstance(field, Missing) else np.nan for field in record._fields
    ]

    row_dict = {k: v for k, v in zip(column_names, record_values)}

    # Shared fields are mapped as an Index, so we replace the field index by its value
    for key in fields_map:
        row_dict[key] = fields_map[key][row_dict[key]]

    rows.append(row_dict)

In [6]:
# Create a pandas dataframe and save at silver layer 
df = pd.DataFrame.from_dict(rows)

silver_layer = 'silver'
silver_file_name = 'sales_of_oil_derivative_fuels_by_UF_and_product'

df.to_parquet(f'/content/{silver_layer}_{silver_file_name}.parquet')

In [7]:
# Some transformations
df.drop(columns=['REGIÃO', 'TOTAL'], inplace=True)

df = df.melt(id_vars=['COMBUSTÍVEL','ANO', 'ESTADO', 'UNIDADE'], var_name = 'MES', value_name='VOLUME')
df['MES'] = df['MES'].replace(['Fev', 'Abr', 'Mai', 'Ago', 'Set', 'Out', 'Dez'], ['Feb', 'Apr', 'May', 'Aug', 'Sep', 'Oct', 'Dec'])

In [8]:
# Create date column
df = df.astype({'ANO' : int})
df = df.astype({'ANO' : str})
df['CONCAT_DT'] = df['ANO'] + '-' + df['MES'] + '-01'
df['DATE'] = pd.to_datetime(df.CONCAT_DT)
df.drop(columns=['ANO', 'MES', 'CONCAT_DT'], inplace=True)

# Rename columns
df = df[['DATE', 'ESTADO', 'COMBUSTÍVEL', 'UNIDADE', 'VOLUME']]
df.rename(columns={'DATE':'year_month', 'ESTADO' : 'uf', 'COMBUSTÍVEL' : 'product', 'UNIDADE' : 'unity', 'VOLUME' : 'volume' }, inplace=True)

df['created_at'] = datetime.now()

gold_layer = 'gold'
gold_file_name = silver_file_name

df.to_parquet(f'/content/{gold_layer}_{gold_file_name}.parquet')

In [9]:
df

,year_month,uf,product,unity,volume,created_at
0,2000-01-01,RONDÔNIA,GASOLINA C (m3),m3,9563.263,2023-05-09 00:47:08.380798
1,2000-01-01,ACRE,GASOLINA C (m3),m3,3065.758,2023-05-09 00:47:08.380798
2,2000-01-01,AMAZONAS,GASOLINA C (m3),m3,17615.604,2023-05-09 00:47:08.380798
3,2000-01-01,RORAIMA,GASOLINA C (m3),m3,3259.300,2023-05-09 00:47:08.380798
4,2000-01-01,PARÁ,GASOLINA C (m3),m3,28830.479,2023-05-09 00:47:08.380798
...,...,...,...,...,...,...
54427,2020-12-01,RIO GRANDE DO SUL,GLP (m3),m3,NaN,2023-05-09 00:47:08.380798
54428,2020-12-01,MATO GROSSO DO SUL,GLP (m3),m3,NaN,2023-05-09 00:47:08.380798
54429,2020-12-01,MATO GROSSO,GLP (m3),m3,NaN,2023-05-09 00:47:08.380798
54430,2020-12-01,GOIÁS,GLP (m3),m3,NaN,2023-05-09 00:47:08.380798
54431,2020-12-01,DISTRITO FEDERAL,GLP (m3),m3,NaN,2023-05-09 00:47:08.380798

In [10]:
# Extract pivot table 'Sales of diesel by UF and type'
raw_file_path = f'/content/{raw_file}'

workbook_1 = load_workbook(raw_file_path)
worksheet_1 = workbook_1['Plan1']
pivot_table_name = 'Tabela dinâmica3'

pivot_table = [p for p in worksheet_1._pivots if p.name == pivot_table_name][0]

# Extract a dict of all cache fields and their respective values
fields_map = {}
for field in pivot_table.cache.cacheFields:
    if field.sharedItems.count > 0:
        fields_map[field.name] = [f.v for f in field.sharedItems._fields]

# Extract all rows from cache records. Each row is initially parsed as a dict
column_names = [field.name for field in pivot_table.cache.cacheFields]
rows_1 = []
for record in pivot_table.cache.records.r:
    # If some field in the record in missing, we replace it by NaN
    record_values = [
        field.v if not isinstance(field, Missing) else np.nan for field in record._fields
    ]

    row_dict = {k: v for k, v in zip(column_names, record_values)}

    # Shared fields are mapped as an Index, so we replace the field index by its value
    for key in fields_map:
        row_dict[key] = fields_map[key][row_dict[key]]

    rows_1.append(row_dict)

In [11]:
# Create a pandas dataframe and save at silver layer 
df1 = pd.DataFrame.from_dict(rows_1)

silver_layer = 'silver'
silver_file_name = 'sales_of_diesel_by_UF_and_type'

df1.to_parquet(f'/content/{silver_layer}_{silver_file_name}.parquet')

In [12]:
# Some transformations
df1.drop(columns=['REGIÃO', 'TOTAL'], inplace=True)

df1 = df1.melt(id_vars=['COMBUSTÍVEL','ANO', 'ESTADO', 'UNIDADE'], var_name = 'MES', value_name='VOLUME')
df1['MES'] = df1['MES'].replace(['Fev', 'Abr', 'Mai', 'Ago', 'Set', 'Out', 'Dez'], ['Feb', 'Apr', 'May', 'Aug', 'Sep', 'Oct', 'Dec'])

In [13]:
# Create date column
df1 = df1.astype({'ANO' : int})
df1 = df1.astype({'ANO' : str})
df1['CONCAT_DT'] = df1['ANO'] + '-' + df1['MES'] + '-01'
df1['DATE'] = pd.to_datetime(df1.CONCAT_DT)
df1.drop(columns=['ANO', 'MES', 'CONCAT_DT'], inplace=True)

# Rename columns
df1 = df1[['DATE', 'ESTADO', 'COMBUSTÍVEL', 'UNIDADE', 'VOLUME']]
df1.rename(columns={'DATE':'year_month', 'ESTADO' : 'uf', 'COMBUSTÍVEL' : 'product', 'UNIDADE' : 'unity', 'VOLUME' : 'volume' }, inplace=True)

df1['created_at'] = datetime.now()

gold_layer = 'gold'
gold_file_name = silver_file_name

df1.to_parquet(f'/content/{gold_layer}_{gold_file_name}.parquet')

In [14]:
df1

,year_month,uf,product,unity,volume,created_at
0,2013-01-01,RONDÔNIA,ÓLEO DIESEL S-10 (m3),m3,3517.600,2023-05-09 00:47:46.026445
1,2013-01-01,ACRE,ÓLEO DIESEL S-10 (m3),m3,363.000,2023-05-09 00:47:46.026445
2,2013-01-01,AMAZONAS,ÓLEO DIESEL S-10 (m3),m3,3190.585,2023-05-09 00:47:46.026445
3,2013-01-01,RORAIMA,ÓLEO DIESEL S-10 (m3),m3,795.400,2023-05-09 00:47:46.026445
4,2013-01-01,PARÁ,ÓLEO DIESEL S-10 (m3),m3,30137.800,2023-05-09 00:47:46.026445
...,...,...,...,...,...,...
12955,2020-12-01,RIO GRANDE DO SUL,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2023-05-09 00:47:46.026445
12956,2020-12-01,MATO GROSSO DO SUL,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2023-05-09 00:47:46.026445
12957,2020-12-01,MATO GROSSO,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2023-05-09 00:47:46.026445
12958,2020-12-01,GOIÁS,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2023-05-09 00:47:46.026445
12959,2020-12-01,DISTRITO FEDERAL,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2023-05-09 00:47:46.026445

In [ ]:
# Extract pivot table 'Sales of diesel by UF and type'
raw_file_path = f'/content/{raw_file}'

workbook = load_workbook(raw_file_path)
worksheet = workbook['Plan1']
pivot_tables_list = ['Tabela dinâmica1','Tabela dinâmica3']

for table in pivot_tables_list:

    pivot_table = [p for p in worksheet._pivots if p.name == table][0]

    # Extract a dict of all cache fields and their respective values
    fields_map = {}
    for field in pivot_table.cache.cacheFields:
        if field.sharedItems.count > 0:
            fields_map[field.name] = [f.v for f in field.sharedItems._fields]

    # Extract all rows from cache records. Each row is initially parsed as a dict
    column_names = [field.name for field in pivot_table.cache.cacheFields]
    rows = []
    index = 1
    for record in pivot_table.cache.records.r:
        # If some field in the record in missing, we replace it by NaN
        record_values = [
            field.v if not isinstance(field, Missing) else np.nan for field in record._fields
        ]

        row_dict = {k: v for k, v in zip(column_names, record_values)}

        # Shared fields are mapped as an Index, so we replace the field index by its value
        for key in fields_map:
            row_dict[key] = fields_map[key][row_dict[key]]

        rows.append(row_dict)
        rows_index = rows